<% title = @random_quote['title'] %>
<% author = @random_quote['author'] %>

<div class="mt-4 p-5 bg-secondary text-white rounded center" style="width: 80%; margin: 0 auto;">
  <h1><%= title %></h1>
  <p>By <%= author.titleize %></p>
</div>